<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallerie
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="photo-grid">
    <div class="photo-item" *ngFor="let image of images$ | async; let i = index">
      <img [src]="image" />
      
        <ion-icon name="trash" class="delete-button" fill="clear" (click)="deleteImage(i)"></ion-icon>
      
    </div>
  </div>
</ion-content>
